<div class="container-fluid">
    <div [hidden]='responseMessage==null'>
        <div [hidden]="isErrorMsg" class="alert alert-success success_box">
            <span>{{ responseMessage }}</span>
            <button type="button" class="close" (click)="handleResponseMsgUpdated($event)">&times;</button>
        </div>
        <div [hidden]="!isErrorMsg" class="alert alert-danger error_box">
            <span>{{ responseMessage }}</span>
            <button type="button" class="close" (click)="handleResponseMsgUpdated($event)">&times;</button>
        </div>
    </div>
</div>
<div>
    <h1 id="title" class="question-title">Question Title</h1>
    <ul>
        <li>
            <input readonly (click)="check(correctAnswer)" type="text" class="form-control" id="one" [(ngModel)]="correctAnswer.text">
        </li>
        <li>
            <input readonly (click)="check(wrong1)" type="text" class="form-control" id="two" [(ngModel)]="wrong1.text">
        </li>
        <li>
            <input readonly (click)="check(wrong2)" type="text" class="form-control" id="three" [(ngModel)]="wrong2.text">
        </li>
        <li>
            <input readonly (click)="check(wrong3)" type="text" class="form-control" id="four" [(ngModel)]="wrong3.text">
        </li>
    </ul>
</div>
<button class="btn btn-primary question-button float-left" (click)="return()">
    <i class=" 	fa fa-mail-reply" aria-hidden="true"></i>
    <span>Volver al menú</span>
</button>