ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

li {
    margin: 0.015em;
    font-size: 2em;
    flex-grow: 1;
    min-width: 31.25em;
    background-color: lightgray;
    text-align: center;
}

li :hover {
    background-color: yellow;
}

a {
    display: block;
}

a.disabled {
    pointer-events: none;
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}