<div class="header">
    <img src="./../favicon.png" alt="" class="small-image ml-1 mt-1">
    <button class="btn btn-primary login-button float-right" (click)="toSignUp()" [disabled]="identified">
        <i class="fa fa-male" aria-hidden="true"></i>
        <span>SignUp</span>
      </button>
    <button class="btn btn-primary login-button float-right" (click)="toLogin()" [disabled]="identified">
        <i class="fa fa-male" aria-hidden="true"></i>
        <span>Login</span>
      </button>
</div>
<hr>
<router-outlet></router-outlet>