<div class="container-fluid">
    <div [hidden]='responseMessage==null'>
      <div [hidden]="isErrorMsg" class="alert alert-success success_box">
        <span>{{ responseMessage }}</span>
        <button type="button" class="close" (click)="handleResponseMsgUpdated($event)">&times;</button>
      </div>
      <div [hidden]="!isErrorMsg" class="alert alert-danger error_box">
        <span>{{ responseMessage }}</span>
        <button type="button" class="close" (click)="handleResponseMsgUpdated($event)">&times;</button>
      </div>
    </div>
  </div>
  <div class="container signup-title">
    <h1>Registro</h1>
  </div>
  <div class="container">
    <form [formGroup]="signupForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="user">User</label>
          <input type="text" class="form-control" id="username" placeholder="User" [formControl]="signupForm.controls['user']"
            [(ngModel)]="user.username">
        </div>
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" [formControl]="signupForm.controls['pass']"
            [(ngModel)]="user.password">
        </div>
      </div>
    </form>
    <button class="btn btn-primary question-button float-right" (click)="submit()" [disabled]="!signupForm.valid">
      <i class="fa fa-check" aria-hidden="true"></i>
      <span>Aceptar</span>
    </button>
    <button class="btn btn-primary question-button float-left" (click)="return()">
      <i class="fa fa-mail-reply" aria-hidden="true"></i>
      <span>Volver al menú</span>
    </button>
  </div>
  